{% load static %}

<link rel="stylesheet" href="{% static 'styles.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="d-flex flex-wrap overflow-auto my-5 gap-3 py-3" style="align-items: start; justify-content: center;">
  {% for producto in productos %}   
  <div class="card mx-2 d-flex flex-column align-items-center justify-content-center card-container" style="width: 18rem;">
    <div class="image-container">
      <img src="{% static producto.image %}" class="card-img-top custom-image" alt="{{ producto.title }}">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{ producto.title }}</h5>
      <p class="card-text">{{ producto.price }}€</p>
      <p class="card-text">  
        {% if user.is_authenticated %}
        <span class="sp" title="{{ producto.id }}" onclick="sendRating(event, true)"> </span> 
        {% else %}
        <span class="sp" title="{{ producto.id }}" onclick="alert('You must be logged in to rate a product')"> </span>        {% endif %}
        <small class="text-body-secondary" id="{{ producto.id }}"> {{ producto.rating.rate|stringformat:".1f" }} </small>      
      </p>
      <p class="card-text">
        <small class="text-body-secondary" id="{{ producto.id }}">{{ producto.rating.count }} ratings</small>
      </p>    
    </div>
  </div>
  {% endfor %}
</div>

<script type="text/javascript" src="{% static 'stars.js' %}"></script>
