{% load static %}

<link rel="stylesheet" href="{% static 'styles.css' %}" />
<div class="d-flex flex-wrap overflow-auto my-5 gap-3 py-3"  style="align-items: start; justify-content: center;">
  {% for producto in productos %}   
  <div class="card mx-2 d-flex flex-column align-items-center justify-content-center card-container" style="width: 18rem;">
    <div class="image-container">
      <img src="{% static producto.image %}" class="card-img-top custom-image" alt="{{ producto.title }}">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">{{ producto.title }}</h5>
      <p class="card-text">{{ producto.price }}€</p>
      <p class="card-text"><small class="text-body-secondary">Rating: {{ producto.rating.rate }}</small></p>
    </div>
  </div>
  {% endfor %}
</div>